name: ci.yml
on:
  push:
    branches:
      - main

jobs:
  buildandtest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Send mail
        uses: ./
        id: mail
        with:
          api_key: ${{ secrets.MAILGUN_API_KEY }}
          domain: ${{ secrets.MAILGUN_DOMAIN }}
          from: ${{ secrets.MAILGUN_FROM }}
          to: ${{ secrets.MAILGUN_TO }}
          subject: ${{ github.event.head_commit.message }}
          message: '<p>Hello World</p>'
